
*{
    margin-top: 0;
}
.lbox {
    width: 60%;
    position: absolute;
    left: 0px;
    max-height: 100%;
    padding-top: 0px;
    margin-top: 0px;
}

.lbox img {
   height: 100%;
   width: 100%;
   object-fit: fill;
}

.rbox {
    width: 40%;
    position: absolute;
    right: 0px;
    height: 100%;
    float: right;
}

.logo {
    width: 156px;
    height: 178px;
    left: 1150px;
    top: 127px;
    padding-top: 95.6px;
    margin-left: 122px;
}

.logint {
    width: 100px;
    height: 20px;
    font-family: Roboto;
    font-style: normal;
    font-size: 41px;
    font-weight: bold;
    line-height: 48px;
    display: flex;
    letter-spacing: 0.09em;
    color: black;
    padding-top: 25px;
    margin-bottom: 13px;
    margin-left: 122px;
}

.welcome {
    width: 272px;
    height: 30px;
    left: 1189px;
    top: 419px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
    color: #47C2C7;
    padding-top:20px;
    margin-left: 122px;
}

input[type=email] {
    border: none;
    border-bottom: 1px solid #00C0F3;
    width: 400px;
    left: 1189px;
    top: 559px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.12em;
    color: #5F5F5F;
    margin-left: 122px;
    padding-top: -10px;
}

input[type=password] {
    border: none;
    border-bottom: 1px solid #00C0F3;
    width: 400px;
    left: 1189px;
    top: 559px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.12em;
    color: #5F5F5F;
    margin-left: 122px;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
    left: 1187px;
    top: 673px;
    border: 1px solid #00C0F3;
    box-sizing: border-box;
    margin-left: 122px;
}
label {
   
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 0.12em;
    color: #5F5F5F;
    
}

a {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    letter-spacing: 0.12em;
    color: #5F5F5F;
    margin-left: 421px;
    cursor:pointer;
   
}

input[type=button] {
    width: 120px;
    height: 39px;
    left: 1187px;
    top: 772px;
    background: #00C0F3;
    margin-left: 122px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;   
    text-align: center;
    color: #FFFFFF;
}

